// static css of the project here..


 
body {
	@include fontMain;
	color:$color_text;
	background:$color_bg;
}


h1,h2,h3,h4,h5,h6{
	@include fontTitle;
}

p {
	margin:5px 0;
}

ul {
	padding:0;
	margin:10px 0;
}

ul li {
	list-style:none;
}

a {
	text-decoration:none;
	transition:.3s all;
}
